import os
import requests

BOT_TOKEN = os.environ["TELEGRAM_BOT_TOKEN"]
CHANNEL_ID = "-1003890371911"  # numeric channel ID
COINS = {"BTC": 90, "ETH": 80, "BNB": 2710}

# custom_emoji_id, которые бот будет использовать
EMOJI_IDS = {
    "BTC": "5213021529092170717",
    "ETH": "5215633431848848497",
    "BNB": "5212948037906766349"
}

# получаем цены
def get_prices():
    url = f"https://api.coinlore.net/api/ticker/?id={','.join(map(str, COINS.values()))}"
    resp = requests.get(url).json()
    return {coin["symbol"]: float(coin["price_usd"]) for coin in resp}

prices = get_prices()

# формируем текст и entities для кастомных эмодзи
text = f" {prices['BTC']:.2f}$ {prices['ETH']:.2f}$ {prices['BNB']:.2f}$"
entities = [
    {"type": "custom_emoji", "offset": 0, "length": 1, "custom_emoji_id": EMOJI_IDS["BTC"]},
    {"type": "custom_emoji", "offset": len(f" {prices['BTC']:.2f}$ "), "length": 1, "custom_emoji_id": EMOJI_IDS["ETH"]},
    {"type": "custom_emoji", "offset": len(f" {prices['BTC']:.2f}$ {prices['ETH']:.2f}$ "), "length": 1, "custom_emoji_id": EMOJI_IDS["BNB"]},
]

payload = {
    "chat_id": CHANNEL_ID,
    "text": text,
    "entities": entities
}

r = requests.post(f"https://api.telegram.org/bot{BOT_TOKEN}/sendMessage", json=payload)
print(r.json())
